body {
    font-family: 'Roboto Mono', monospace;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

#app {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    border: solid 1px #ccc;
    padding: 20px;
}

#time {
    text-align: center;
    padding: 20px 0px;
}

#time #value {
    font-size: 48px;
    font-weight: bolder;
}

.form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    border: solid 1px #ccc;
    width: 300px;
}

button,
input[type="submit"] {
    border: none;
    background-color: #12947F;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#task {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.task .completed {
    display: flex;
    align-items: center;
    gap: 10px;
}

.done {
    display: inline-block;
    padding: 5px;
    background-color: #ccc;
}

